@charset "UTF-8";

*,*::before,*::after{margin: 0;padding: 0;box-sizing: border-box;}
body{width: 100vw;height: 100vh;position: relative;}

#snakeboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}
#score {
    text-align: center;
    font-size: 140px;
}

.cover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.361);
    width: 100vw;
    height: 100vh;
}

.btn{
    padding: 10px;
    text-transform: uppercase;
    background-color: #74c69d;
    border-radius: 8px;
    text-align: center;
    width: 10%;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
}